<div class="row">
  <div class="col-lg-8">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Cambiar contraseña"></rd-widget-header>
        <rd-widget-body classes="large no-padding" >
            <div  align="center"  ng-controller="cambiaContrCtrl">
                <div>
                    <span class="md-headline">Cambio de Contraseña</span>
                </div>
                <div class="col-sm-offset-3 col-xs-6">
                    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                </div>
                <ng-form class="form-horizontal" ng-action="#/logout">
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-4">
                        <input bled type="password" class="form-control" ng-model="colaborador.passwordActual" id="passwordActual" placeholder="Digite contraseña actual">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-4">
                        <input bled type="password" class="form-control" ng-model="colaborador.password" id="password" placeholder="Digite nueva contraseña">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-4 col-sm-4">
                        <input bled type="password" class="form-control" ng-model="colaborador.passwordConf" id="passwordConf" placeholder="Confirme contraseña">
                      </div>
                    </div>
                 <div class="form-group">
                   <div class="col-sm-offset-4 col-sm-1">
                     <button type="submit" class="btn btn-default" ng-click="cambiar()">Guardar</button>
                   </div>
                   <div class="col-sm-offset-1 col-sm-1">
                     <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                   </div>
                 </div>
               </ng-form>
            </div>
        </rd-widget-body>
       </rd-widget>
  </div>
</div>
