<!doctype html>
<html lang="en" ng-app="RDash">
<!--<html ng-app="app">-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tareas Coltoys</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-resizable/angular-resizable.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
  <link rel="stylesheet" type="text/css" href="src/components/angular-gantt/dist/angular-gantt.min.css">
  <link rel="stylesheet" type="text/css" href="src/components/angular-gantt/dist/angular-gantt-plugins.min.css">
  <link rel="stylesheet" type="text/css" href="src/components/angular-ui-tree/dist/angular-ui-tree.min.css">
  <link rel="stylesheet" type="text/css" href="src/components/angular-tree-dnd/dist/ng-tree-dnd.min.css">
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <link rel="stylesheet" type="text/css" href="css/eclipse.css">
  <link rel="shortcut icon" href="favico.png" type="image/png">
  <link rel="icon" href="favico.png" type="image/png">
  <link rel="apple-touch-icon" href="favico.png" type="image/png">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/locale/es.js"></script>


  <!-- endbuild -->
  <!-- Custom Scripts -->
  <!--<script src="app/proyectos/Proyecto.js"></script>-->
  <!-- Archivos de la aplicación Angular.js -->
  <script src="app/app.js"></script>
  <!-- Controllers  -->
  <script type="text/javascript"  src="app/global/global.js"></script>
  <script type="text/javascript" src="app/global/Http.js"></script>
  <script type="text/javascript"  src="app/global/EventHandler.js"></script>
  <script type="text/javascript"  src="app/login/User.js"></script>
  <script type="text/javascript" src="dist/js/dashboard.min.js"></script>
  <script type="text/javascript" src="src/components/angular-moment/angular-moment.min.js"></script>
  <script type="text/javascript" src="src/components/angular-gantt/dist/angular-gantt.min.js"></script>
  <script type="text/javascript" src="src/components/angular-gantt/dist/angular-gantt-plugins.min.js"></script>
  <script type="text/javascript" src="src/components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
  <script type="text/javascript" src="src/components/angular-tree-dnd/dist/ng-tree-dnd.js"></script>
  <script type="text/javascript" src="src/components/angular-tree-dnd/dist/ng-tree-dnd.min.js"></script>
  <script type="text/javascript" src="components/chart.js/dist/Chart.min.js"></script>
  <script type="text/javascript" src="components/angular-chart.js/dist/angular-chart.min.js"></script>

  <!--<script src="app/proyectos/proyectos.js"></script>-->
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div ng-show="userLogin.id > 0 " id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Control Tareas
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVEGACION</span></li>
        <!--<li class="sidebar-list">
          <a href="#dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>-->
        <!--<li class="sidebar-list">
          <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
      </li>-->
      <li ng-show="userLogin.id > 0 && userLogin.rol !== 'C'"  class="sidebar-list">
        <a href="#/departamentos">Departamentos <span class="menu-icon fa fa-users"></span></a>
      </li>
      <li ng-show="userLogin.id > 0 && userLogin.rol !== 'C'" class="sidebar-list">
        <a href="#/colaboradores">Colaboradores <span class="menu-icon fa fa-users"></span></a>
      </li>
        <li ng-show="userLogin.id > 0 && userLogin.rol !== 'C'" class="sidebar-list">
          <a href="#/proyectos">Proyectos <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="divider"></li>
        <li class="sidebar-list">
          <a href="#/reportes/gantt">Gantt <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/reportes/listaTareas">Tareas <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/reportes/listaTareaSemana">Reporte Tareas <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li ng-show="userLogin.id > 0 && userLogin.rol !== 'C'"  class="sidebar-list">
            <!--<a href="api/reportes/1">Reporte Excel <span class="menu-icon fa fa-tasks"></span></a>-->
          <a href="#/reportes/reporteExcelAll">Reporte Excel <span class="menu-icon fa fa-tasks"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div  class="row header">
          <div  class="col-xs-12">
            <div ng-show="userLogin.id > 0 " class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{userLogin.nombre}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/colaboradores/cambioPsw">
                      Cambiar contraseña
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/logout">
                      Salir
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div  class="meta">
              <div class="page">
                Coltoys - Top Promotions
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
