<div class="row">
  <div class="col-lg-8">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Proyectos"></rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div ng-controller="ProyectosChartCtrl">
            <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
      </rd-widget-body>

    </rd-widget>
  </div>
</div>
