<div class="row">
  <div class="col-lg-10">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Proyectos"><button ng-click="addProyecto()">ADICIONAR</button></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive" data-ng-controller="ProyectosCtrl">
          <table class="table">
              <thead>
                  <tr><th></th><th class="text-center">ID</th><th>Proyecto</th><th>Descripcion</th><th><span ng-class='text-success' ><i class="glyphicon glyphicon-edit" ></i></span></th><th><span ng-class='text-success'><i class="glyphicon glyphicon-plus" ></i></span></th><th><span ><i class="glyphicon glyphicon-minus" ></i></span></th></tr>
              </thead>
            <tbody>
              <!--<tr ng-repeat="proyecto in proyectos"><td><span ng-class="{'text-success':proyecto.estado == 'N'}"><i class="fa fa-flag"></i></span></td><td>{{proyecto.id}}</td><td>{{proyecto.nombre}}</td><td>{{proyecto.descripcion}}</td><td><button type="button" class="btn btn-default" ng-click="editProyecto(proyecto)" ><span ng-class="{'text-success':proyecto.estado == 'N'}" ><i class="glyphicon glyphicon-edit" ><</i></span></button></td></tr>-->
              <tr ng-repeat="proyecto in proyectos">
                  <td><span ng-class="{'text-success':proyecto.estado == 'N'}"><i class="fa fa-flag"></i></span></td>
                  <td>{{proyecto.id}}</td>
                  <td>{{proyecto.nombre}}</td>
                  <td>{{proyecto.descripcion}}</td>
                  <td><a ng-href="#/proyectos/edit" ng-click="editProyecto(proyecto)" ><span ng-class="{'text-success':proyecto.estado == 'N'}" ><i class="glyphicon glyphicon-edit" ></i></span></a></td>
                  <td><a ng-href="#/proyectos/edit" ng-click="addProyecto()" ><span ng-class='text-success'><i class="glyphicon glyphicon-plus" ></i></span></a></td>
                  <td><a ng-click="delProyecto($event,proyecto)" ><span ><i class="glyphicon glyphicon-minus" ></i></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
