<div class="row">
    <div class="col-lg-8">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="Planeacion Semana"></rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div ng-controller="estimacionCtrl">
                    <ng-form class="form-horizontal" ng-action="#/listaTareas">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id">Id:</label>
                            <div class="col-sm-4">
                                <input disabled="true" bled type="text" class="form-control" ng-model="estimacion.id" id="id" placeholder="Id">
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="control-label col-sm-2" for="fecha">Fecha:</label>
                            <div class="col-sm-3">
                                <input bled type="date" class="form-control" ng-model="estimacion.fecha" id="fecha" placeholder="yyyy-MM-dd">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="semana">Semana:</label>
                            <div class="col-sm-4">
                                <input bled type="text" class="form-control" ng-model="estimacion.semana" id="semana" placeholder="Semana">
                            </div>
                            <label class="control-label col-sm-2" for="semana">(Semana Actual: {{estimacion.semana}})</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="horas">Tiempo(horas):</label>
                            <div class="col-sm-4">
                                <input bled type="text" class="form-control" ng-model="estimacion.horas" id="horas" placeholder="tiempo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="TareaId">TareaId:</label>
                            <div class="col-sm-4">
                                <input disabled="true" bled type="text" class="form-control" ng-model="estimacion.TareaId" id="TareaId" value="idTareaAsigna">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="anio">Año:</label>
                            <div class="col-sm-4">
                                <input disabled="true" bled type="text" class="form-control" ng-model="estimacion.anio" id="anio" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-1">
                                <button type="submit" class="btn btn-default" ng-click="guardarEstimacion()">Guardar</button>
                            </div>
                            <div class="col-sm-offset-1 col-sm-1">
                                <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
