
<div data-ng-controller="listaTareasSemController">
    <ng-form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <label  ng-show = "userLogin.rol != 'C'" class="control-label" for="clbrId">Colaborador: </label>
                <select  ng-show = "userLogin.rol != 'C'" bled name="clbrId" ng-model="filtro.clbrId" ng-options="colaborador.id as colaborador.nombre for colaborador in colaboradores" placeholder="Colaborador"></select>
             <label for="pryId">Proyecto: </label>
              <select name="pryId" ng-model="filtro.pryId" ng-options="proyecto.id as proyecto.nombre for proyecto in proyectos" >
                  <option value="0">Todos</option>
              </select>
              <label for="semanaNum">Semana: </label>
              <input bled type="text" ng-model="filtro.semanaNum" id="semanaNum" placeholder="Semana">
             <button type="submit" class="btn btn-default btn-sm" ng-click="refreshTareas()">Ver Tareas</button>
            </div>
        </div>
    </ng-form>
    <tree-dnd
		tree-class="table"
		tree-data="tree_data"
		tree-control="my_tree"
		column-defs="col_defs"
		expand-on="Nombre"
></tree-dnd>
</div>
